<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoRa Air Management</title>
    <link rel="stylesheet" href="data/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script></script>
</head>
<body>
    
    
    <div id="nav">
        <div>
            개발새발 공기질관리
        </div>
    </div>

    <div id="left-menu">
        <br>
        <div>
            <ul>
            <li><button class = "button" onclick="location.href='/lora'">대시보드</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=1'">1반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=2'">2반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=3'">3반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=4'">4반</button></li>
            <li style="color:white;" id="office_container_li"><button class = "button" onclick="officeClicked(this)" data-flag="t">행정실 문의</button>></li>
            <li style="color:white;" id="bob_container_li"><button class = "button" onclick="bobClicked(this)" data-flag="t">오늘의 급식</button>></li>
            <li style="color:white;" id="vote_container_li"><button class = "button" onclick="voteClicked(this)" data-flag="t"><%=cless%>반 투표하기</button>></li>
            </ul>
        </div>
    </div>
    
    <div style="display:none;" id="current_class"><%=cless%></div>
    <h2 class="content_h2"><%=cless%>반 공기질 현황</h2>
    <div class="content_divider"></div>
    <div class="weakFont">각반 공기질 현황 > <b><%=cless%>반</b></div>

    <div class="chartContainer">
        <div class="card" onclick="emphasize_graph(this)" data-flag="0">
            <section id="rtGraph_Big">
                <canvas id="temperatureChart" class="weatherChart">
                </canvas>
            </section>
        </div>
        <div class="card" onclick="emphasize_graph(this)"data-flag="0">
            <section id="rtGraph_Big">
                <canvas id="humidityChart" class="weatherChart">
                </canvas>
            </section>
        </div>
        <div class="card" onclick="emphasize_graph(this)"data-flag="0">
            <section id="rtGraph_Big">
                <canvas id="pressChart" class="weatherChart">
                </canvas>
            </section>
        </div>
        <div class="card" onclick="emphasize_graph(this)"data-flag="0">
            <section id="rtGraph_Big">
                <canvas id="dustChart" class="weatherChart">
                </canvas>
            </section>
        </div>
    </div>

    <div id="chat" class = "card">
        <div>
            <p class = "bobtitle">행정실에 문의</p>
            <input type="text" name="content" placeholder="  요청할 내용을 적어주세요" id="content">
            <select class="select" name="selectClass" id="selectClass">
                <option class = "option" value="1">1반</option>
                <option class = "option" value="2">2반</option>
                <option class = "option" value="3">3반</option>
                <option class = "option" value="4">4반</option>
            </select>
            <button id = "buttonSubmit" class = "buttonSubmit">전송</button>
        </div>
    </div>

    
    <div id="bobContainer" class = "card">
        <div>
            <p class = "bobtitle">오늘의 급식</p>
            <p id= 'breakfast' class='bob'></p>
            <p id= 'lunch' class='bob'></p>
            <p id= 'dinner' class='bob'></p>
        </div>
    </div>

    <div id="voteContainer" class = "card">
        <div>
            <p class = "bobtitle">냉난방기 조절에 투표하기</p>
            <input type="text" name="content" placeholder=" 투표 안건" id="content">
            <select class="select" name="select" id="selectTime">
                <option class = "option" value="">투표시간</option>
                <option class = "option" value="1">1분</option>
                <option class = "option" value="3">3분</option>
                <option class = "option" value="5">5분</option>
                <option class = "option" value="10">10분</option>
            </select>
            <input type="text" name="name" placeholder=" 개시자 이름" id="content_name">
            <button onclick="ajax_vote(vote_submit)" class = "buttonSubmit">투표 개시!</button>
        </div>
    </div>
    <div id="votingContainer" class = "card">
        <div>
            <p class = "bobtitle">냉난방기 조절에 투표하기</p>
            <div id = "votingTitle"></div>
            <div id = "votingEndTime"></div>
            <div id = "votingAuthor"></div>
            <div id = "votingAgree"></div>
            <div id = "votingDisagree"></div>
            <button onclick="voting(0)" class = "buttonCancel">반대</button>
            <button onclick="voting(1)" class = "buttonSubmit">찬성</button>
        </div>
    </div>

</body>
<script src="scripts/sub.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
<script src="scripts/graph.js"></script>
</html>

<!-- 

<div id="chat" class = "bob_cotain">
        <div>
            <p class = "bobtitle">행정실에 연락</p>
            <input type="text" name="content" id="content">
            <button id = "buttonSubmit" class = "buttonSubmit">전송</button>
            <select class="select" name="selectClass" id="selectClass">
                
                <option class = "option" value="1">1반</option>
                <option class = "option" value="2">2반</option>
                <option class = "option" value="3">3반</option>
                <option class = "option" value="4">4반</option>
            </select>
        </div>
    </div>
       
    <div>
        <div id="Bobcontainer" class = "bob_cotain">
            <div>
                
                <p class = "bobtitle">오늘의 급식</p>
                <p id= 'breakfast' class='bob'></p>
                <p id= 'lunch' class='bob'></p>
                <p id= 'dinner' class='bob'></p>

            </div>
        </div>
    </div> -->
