<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoRa Maker Project</title>
    <link rel="stylesheet" href="data/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script></script>
</head>
<body>
    
    
    <div id="nav">
        <div>
            개발새발 공기질관리
        </div>
    </div>

    <div id="left-menu">
        <br>
        <div>
            <ul>
            <li><button class = "button" onclick="location.href='/lora'">대시보드</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=1'">1반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=2'">2반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=3'">3반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=4'">4반</button></li>
            <li><button class = "button" onclick="">행정실 연락</button></li>
            <li><button class = "button" onclick="">오늘의 급식</button></li>
            </ul>
        </div>
    </div>
    
    <div style="display:none;" id="current_class"><%=cless%></div>
    <h2 class="content_h2"><%=cless%>반 공기질 현황</h2>
    <div class="content_divider"></div>
    <div class="weakFont">각반 공기질 현황 > <b><%=cless%>반</b></div>

    <div class="chartContainer">
        <div class="card" onclick="emphasize_graph(this)" data-flag="0">
            <section id="rtGraph_Big">
                <canvas id="temperatureChart" class="weatherChart">
                </canvas>
            </section>
        </div>
        <div class="card" onclick="emphasize_graph(this)"data-flag="0">
            <section id="rtGraph_Big">
                <canvas id="humidityChart" class="weatherChart">
                </canvas>
            </section>
        </div>
        <div class="card" onclick="emphasize_graph(this)"data-flag="0">
            <section id="rtGraph_Big">
                <canvas id="pressChart" class="weatherChart">
                </canvas>
            </section>
        </div>
        <div class="card" onclick="emphasize_graph(this)"data-flag="0">
            <section id="rtGraph_Big">
                <canvas id="dustChart" class="weatherChart">
                </canvas>
            </section>
        </div>
    </div>

</body>
<script src="scripts/sub.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
<script src="scripts/graph.js"></script>
</html>

<!-- 

<div id="chat" class = "bob_cotain">
        <div>
            <p class = "bobtitle">행정실에 연락</p>
            <input type="text" name="content" id="content">
            <button id = "buttonSubmit" class = "buttonSubmit">전송</button>
            <select class="select" name="selectClass" id="selectClass">
                
                <option class = "option" value="1">1반</option>
                <option class = "option" value="2">2반</option>
                <option class = "option" value="3">3반</option>
                <option class = "option" value="4">4반</option>
            </select>
        </div>
    </div>
       
    <div>
        <div id="Bobcontainer" class = "bob_cotain">
            <div>
                
                <p class = "bobtitle">오늘의 급식</p>
                <p id= 'breakfast' class='bob'></p>
                <p id= 'lunch' class='bob'></p>
                <p id= 'dinner' class='bob'></p>

            </div>
        </div>
    </div> -->
