
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoRa Air Management</title>
    <link rel="stylesheet" href="data/style.css">
    <link rel="stylesheet" href="data/vote.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
</head>
<body>
    <div id="voteResultContainer" class = "card">
        <div>
            <p class = "voteTitle">투표 결과</p>
            <table class="table-fill-vote">
                <thead>
                <tr>
                    <th class="thSmall">반</th>
                    <th class="thBig">안건</th>
                    <th class="thSmall">결과</th>
                    <th class="thSmall">인원</th>
                    <th class="thBig">시간</th>
                </tr>
                </thead>
                <tbody class="table-hover" id ='voteResult'>
                    
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="nav">
        <div>
            교무실 페이지
        </div>
    </div>

    <div id="left-menu" style="height: 1470px;">
        <br>
        <div>
            <ul>
            <li><button class = "button" onclick="location.href='/lora'">대시보드</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=1'">1반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=2'">2반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=3'">3반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=4'">4반</button></li>
            <li style="color:white;" id="bob_container_li"><button class = "button" onclick="bobClicked(this)" data-flag="t">오늘의 급식</button>></li>
            </ul>
        </div>
        <div id="filler"></div>
    </div>
    
    <h2 class="content_h2">대시보드</h2>
    <div class="content_divider"></div>
    <div class="weakFont">대시보드 > <b>각 반 온도현황</b></div>
    <div id="loader" class="loader"></div>
    <div class="cardDashBoard">
        
        <canvas id="dashboardChart" class="weatherChart">
        <section id="rtGraph_Big">
            </canvas>
        </section>
    </div>
    <div class="cardDashBoard" style="margin-top: 0;">
        <div>
            <p class = "bobtitle">최근 행정실 문의내역</p>
            <table class="table-fill">
                <thead>
                <tr>
                    <th class="text-left">내용</th>
                    <th class="text-left">반</th>   
                </tr>
                </thead>
                <tbody class="table-hover" id ='tableContent'>
                    
                    
                </tbody>
            </table>
        </div>
    </div>
    <div id="bobContainer" class = "card">
        <div>
            <p class = "bobtitle">오늘의 급식</p>
            <p id= 'breakfast' class='bob'></p>
            <p id= 'lunch' class='bob'></p>
            <p id= 'dinner' class='bob'></p>
        </div>
    </div>


    
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<script src="scripts/dashboard.js"></script>
<script src="scripts/office.js"></script>
<script src="scripts/vote.js"></script>

</html>




       

