<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoRa Maker Project</title>
    <link rel="stylesheet" href="data/style.css">
    <link rel="stylesheet" href="data/style_office.css"> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
        <div id="nav">
                <img src="data/aperture_official_logo_wtext_white_.png" alt="aperture logo" height="30px">
            </div>
        <aside id="left-menu">
            
            <h1 style = "color:white;">Menu</h1>
            <br>
            <nav>
                <ul>
                <li><button class = "button" onclick="graphClick(this.innerText)">1반</button>></li>
                <li><button class = "button" onclick="graphClick(this.innerText)">2반</button>></li>
                <li><button class = "button" onclick="graphClick(this.innerText)">3반</button>></li>
                <li><button class = "button" onclick="graphClick(this.innerText)">4반</button>></li>
                
                
                </ul>
            </nav>
            
            <div class="vertical-line"></div>
            
            </aside>
            <script>
                    let prop = document.getElementById('left-menu');
                    window.addEventListener('scroll', function() {
                         setTimeout(()=>{
                         prop.style.top = String(window.scrollY)+'px';
                        },10);
                    });
            </script>

    
    

<!--         
        <h2 style = " color:#242849;display:inline-block; margin-left:30px;margin-bottom: 10px; ">각 반 공기질 현황</h2>
        <div style="color:#242849;display:inline-block; width: 80%; margin-left:30px; height:0.5px; border:lightgrey solid 1px; background-color:lightgrey"></div>
        <div class="weakFont">각 반 공기질 현황 > <b> 온도</b></div>

        <br><br>
        
        <div id="graph">
            <div id = row>
            <div class = 'smallgraph' id="c1"></div>
            <div class = 'smallgraph' id="c2"></div>
            <div class = 'smallgraph' id="c3"></div>
            <div class = 'smallgraph' id="c4"></div>

            </div>
        </div>
    
<script>
    setInterval(()=>{smallGraph()},5000)

        function smallGraph(){
            let req = new XMLHttpRequest();
            
            req.open('GET', '/lora/graph?class=absolute', true);
            req.onreadystatechange = function (aEvt) {
            if (req.readyState === 4) {
                if(req.status === 200){
                    let temp1 = [];
                    let temp2 = [];
                    let temp3 = [];
                    let temp4 = [];

                    let time = [];
                    let flag = 0;
                    let array = JSON.parse("[" + req.response + "]")[0];
                    
                    array.forEach((element,index) => {            
                        if(element.data_temp<=0||element.data_humid<=0){
                        }
                        else{
                            switch(element.data_num){
                             case 1:
                             temp1.push(element.data_temp)
                                break;
                             case 2:
                             temp2.push(element.data_temp)
                             break;
                             case 3:
                             temp3.push(element.data_temp)
                             break;
                             case 4:
                             temp4.push(element.data_temp)
                             break;                               
                            }
                            
                            time.push(Number(element.timeforme.substr(8,6))) 
                        }
                        
                        if(index == array.length-1){
                            
                            flag = 1
                        }
                    });
                     
                    let temp = setInterval(()=>{
                        if(flag){
                            
                            drawsmallGraph(temp1,temp2,temp3,temp4,time);
                            
                            clearInterval(temp)
                        }
                        
                    },100)
                }
                else{
                    console.log("Error loading page\n");
                }
            }
            };
            req.send(null);


            
            
        }
        let classDict = {
            "c1":"1반",
            "c2":"2반",
            "c3":"3반",
            "c4":"4반"
        };

        function drawsmallGraph(temp1,temp2,temp3,temp4,time){
            temporaryGraph(temp1,time,"c1")
            temporaryGraph(temp2,time,"c2")
            temporaryGraph(temp3,time,"c3")
            temporaryGraph(temp4,time,"c4")
        }
        function temporaryGraph(d,t,str){
            
            let trace = {
                x: t,
                y: d,
                mode: 'area'
            };
            let data = [ trace ];
            let layout = {
                title:classDict[str],
                xaxis:{
                    zeroline: false
                },
                yaxis: {
                    zeroline: false
                }
            };
            Plotly.newPlot(str, data, layout);
        }
    
</script>

<div id="chat" class = "bob_cotain">
        
    </div>

    <script>

        function putTable(index,data){
            if(index == data.length-1){
                
                return
            }
            
            let n = document.getElementById('tableContent');
            let a = document.createElement('tr');
            let b = document.createElement('td');
            let c = document.createElement('td');
            b.setAttribute('class','text-left')
            c.setAttribute('class','text-left')
            b.innerText = data[index].content;
            c.innerText = data[index].cless;

            a.appendChild(b)
            a.appendChild(c)
            n.appendChild(a)
            return putTable(index+1,data)
            
        }
        var req = new XMLHttpRequest();
        req.open('GET', '/lora/complain?status=teacher', true);
        req.onreadystatechange = function (aEvt) {
        if (req.readyState === 4) {
            if(req.status === 200){
            
                let response = JSON.parse("[" + req.response + "]")[0];
                let myNode = document.getElementById("tableContent");
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                putTable(0,response);
        
            }
            else{
                console.log("Error loading page\n");
            }
        }
        };
        req.send(null);

        setInterval(()=>{
            var req = new XMLHttpRequest();
            req.open('GET', '/lora/complain?status=teacher', true);
            req.onreadystatechange = function (aEvt) {
            if (req.readyState === 4) {
                if(req.status === 200){
                
                    let response = JSON.parse("[" + req.response + "]")[0];
                    let myNode = document.getElementById("tableContent");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                    putTable(0,response);
            
                }
                else{
                    console.log("Error loading page\n");
                }
            }
            };
            req.send(null);
    

        },5000)

                    
    </script>


    <div id="container">
        <div class = "containerHeader">
            <b>대시보드</b>
        </div>
        <hr>
        <div>
            <div id="graphHeader" class="graphHeader">&lt; 1반 &gt;</div>
        </div>
        <hr>
        <br><br>
        
        <div id="graph">
            <div id = row>
            <div class = 'graph' id="temp"></div>
                
            <div class = 'graph' id="hmd"></div>
            
            <div class = 'graph' id="dust"></div>
            <div class = 'graph' id="pres"></div>
            
        </div>
            
            
    </div>

        
    </div>


    <script>
        drawGraph(document.cookie)
        setInterval(()=>{drawGraph(document.cookie)},5000)

        function graphClick(cless){
            document.getElementById('graphHeader').innerText = "< "+cless+" >"
            document.cookie = cless;
            drawGraph(document.cookie)
        }
        if(document.cookie){
            document.getElementById('graphHeader').innerText = "< "+document.cookie+" >"
        }

        
        function drawGraph(cless){
            console.log(cless)
            let req = new XMLHttpRequest();
            req.open('GET', '/lora/graph?class='+cless, true);
            req.onreadystatechange = function (aEvt) {
            if (req.readyState === 4) {
                if(req.status === 200){
                    let dustD = [];
                    let tempD = [];
                    let humidD = [];
                    let time = [];
                    let presD = [];
                    
                    let flag = 0;
                    let array = JSON.parse("[" + req.response + "]")[0];
                    
                    array.forEach((element,index) => {            
                        if(element.data_temp<=0||element.data_humid<=0){
                        }
                        else{
                            dustD.push(element.data_dust)
                            tempD.push(element.data_temp)
                            humidD.push(element.data_humid)
                            presD.push(element.data_pres)
                            
                        
                        time.push(Number(element.timeforme.substr(8,6))) 
                        

                        }
                        
                        if(index == array.length-1){
                            
                            flag = 1
                        }
                    });
                     
                    let temp = setInterval(()=>{
                        if(flag){
                            dustGraph(dustD,time);
                            tempGraph(tempD,time);
                            humidGraph(humidD,time);
                            presGraph(presD,time);
                            
                            clearInterval(temp)
                        }
                        
                    },100)
                }
                else{
                    console.log("Error loading page\n");
                }
            }
            };
            req.send(null);


            
            
        }
        function dustGraph(dust_data,time){

            let trace = {
                x: time,
                y: dust_data,
                mode: 'area'
            };
            let data = [ trace ];
            let layout = {
                title:'먼지'
            };
            
            Plotly.newPlot('dust', data, layout);

        }


        function tempGraph(temp_data,time){

            let trace = {
                x: time,
                y: temp_data,
                mode: 'area'
            };
            let data = [ trace ];
            let layout = {
                title:'온도',
                xaxis:{
                    zeroline: false
                },
                yaxis: {
                    zeroline: false
                }
            };
            Plotly.newPlot('temp', data, layout);
        }
        function humidGraph(humid_data,time){

            let trace = {
                x: time,
                y: humid_data,
                mode: 'area'
            };
            let data = [ trace ];
            let layout = {
                title:'습도'
            };
            Plotly.newPlot('hmd', data, layout);

        }

        function presGraph(pres_data,time){

            let trace = {
                x: time,
                y: pres_data,
                mode: 'area'
            };
            let data = [ trace ];
            let layout = {
                title:'기압'
            };
            
            Plotly.newPlot('pres', data, layout);

        }

        
    </script>

    let a=  {
        idx: 8,
        timestamp: "2018-12-17T01:57:34.000Z",
        debug: 404,
        data_num: 2,
        data_temp: 1,
        data_dust: 1,
        data_co2: 1,
        data_pres: 1,
        data_batt: 1,
        timeforme: '20181217' } 


    <div>
    
        


        
    </div>
    <style>
        
.select {
    display:flex;
    flex-direction: column;
    position: relative;
    width: 49px;
    height: 28px;
    border-radius: 5px;
    font-size: 16px;
    float: right;
    margin-top: 10px;
    
    margin-right: 42px;
  }
  
  .option {
    
    min-height:40px;
    display:flex;
    align-items:center;
    background:white;
    border-top:#222 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition: all 2s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    
    
  }
  
  .option:hover {
    background:lightgrey;
  }
  
  .select:focus .option {
    position:relative;
    pointer-events:all;
  }
  #content{
    width: 80%;
    margin: 10px;
    height: 24px;
    font-size: 15px;
    
}
    .buttonSubmit{
        float:right;
        background: aliceblue;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 63px;
    height: 42px;
    margin-top: 3px;
    cursor:pointer;
    transition: ease all 1s;
    box-shadow: lightgrey 0px 0px 5px;

    }
    .buttonSubmit:hover{
        
        background: black;
        color:white;
   

    }

  
    </style>   
    
<br><br><br>
</body>
</html> --> 



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoRa Air Management</title>
    <link rel="stylesheet" href="data/style.css">
    <link rel="stylesheet" href="data/style_office.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    
    
    <div id="nav">
        <div>
            교무실 페이지
        </div>
    </div>

    <div id="left-menu" style="height: 1470px;">
        <br>
        <div>
            <ul>
            <li><button class = "button" onclick="location.href='/lora'">대시보드</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=1'">1반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=2'">2반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=3'">3반</button></li>
            <li><button class = "button" onclick="location.href='/lora/?class=4'">4반</button></li>
            <li style="color:white;" id="bob_container_li"><button class = "button" onclick="bobClicked(this)" data-flag="t">오늘의 급식</button>></li>
            </ul>
        </div>
        <div id="filler"></div>
    </div>
    
    <h2 class="content_h2">대시보드</h2>
    <div class="content_divider"></div>
    <div class="weakFont">대시보드 > <b>각 반 온도현황</b></div>
    <div id="loader" class="loader"></div>
    <div class="cardDashBoard">
        
        <canvas id="dashboardChart" class="weatherChart">
        <section id="rtGraph_Big">
            </canvas>
        </section>
    </div>
    <div class="cardDashBoard" style="margin-top: 0;">
        <div>
            <p class = "bobtitle">최근 행정실 문의내역</p>
            <table class="table-fill">
                <thead>
                <tr>
                    <th class="text-left">내용</th>
                    <th class="text-left">반</th>   
                </tr>
                </thead>
                <tbody class="table-hover" id ='tableContent'>
                    
                    
                </tbody>
            </table>
        </div>
    </div>
    <div id="bobContainer" class = "card">
        <div>
            <p class = "bobtitle">오늘의 급식</p>
            <p id= 'breakfast' class='bob'></p>
            <p id= 'lunch' class='bob'></p>
            <p id= 'dinner' class='bob'></p>
        </div>
    </div>
    
</body>
<script src="scripts/office.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
<script src="scripts/dashboard.js"></script>
</html>




       

