@import url('https://fonts.googleapis.com/css?family=Hi+Melody|Nanum+Gothic');
html {
    margin: 0;
}
body {
    margin: 0;
    /* overflow-x: scroll; */
    overflow-x:hidden;
}
#nav {
    width: 100%;
    background-color: #343a40;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
}
#nav > div{
    margin: 10px;
    font-size: 19px;
}
div > ul > li {
    display: inline;
}
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
#container {
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 60%;
    box-shadow: 0px 2px 7px lightgrey;
    border-radius: 30px;
    background-color: white;
}
#chat {
    top: 35%;
    left: -30%;
    padding: 10px;
    width: 40%;
    box-shadow: 0px 2px 7px lightgrey;
    border-radius: 30px;
    background-color: #474747;
    position: absolute;
    color: white;   
    transition: 1s ease all;
}
#bobContainer {
    top: 42%;
    left: -30%;
    padding: 10px;
    width: 40%;
    box-shadow: 0px 2px 7px lightgrey;
    border-radius: 30px;
    background-color: #474747;
    position: absolute;
    color: white;   
    transition: 1s ease all;
}
#graph {
    margin: auto;
    width: 100%;
    height: 100%;
    
}
#graphin {
    margin: auto;
    width: 90%;
}
.innergraph {
    margin: auto;
    width: 100%;
    height: 50px;
    border: solid 1px black;
}
#class {
    font-size: 1.2em;
    text-align: center;
}
a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    color: hotpink;
}
a:active {
    color: orangered;
}
.outerli:hover {
    background-color: #eee;
}
#ig1 {
    height: 100%;
    width: 50%;
    background-color: blue;
}
#ig2 {
    height: 100%;
    width: 40%;
    background-color: red;
}
#ig3 {
    height: 100%;
    width: 70%;
    background-color: green;
}
#gpsik {
    width: 100%;
    border: 1px solid black;
}
#gpsukTable {
    width: 100%;
    border: 1px solid black;
}

#ig1 {
    height: 100%;
    width: 50%;
    background-color: blue;
}
#ig2 {
    height: 100%;
    width: 40%;
    background-color: red;
}
#ig3 {
    height: 100%;
    width: 70%;
    background-color: green;
}
*{
    font-family: 'Nanum Gothic', sans-serif;
}
.bobtitle{
    font-size: 30px;
    margin-left: 2%;
    margin: 10px;
}
.bob{
    font-size: 15px;
    margin-left: 15px;
}

.button {

    margin: 1%;
    border: none;
    color: lightgrey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    background-color: #212529;
    cursor: pointer;
    display: inline-block;
    width: 181px;
    z-index: 10;
  }
  
  .button:hover {
    color: white;
  }
  
  .containerHeader{
      font-size: 24px;
      text-align: center;
    
  }
  .graphHeader{
      text-align: center;
      font-size: 18px;
  }

  #nav-btn{
    fill:white;
    height:40px;
    position:absolute;
    right:10px;
    top:7px;
    display:none;
  }
  .vertical-line{
      margin-top:30px;
      margin-bottom:30px;
      width: 170px;
      border-bottom:#F7F7F7 4px solid;
          background-color: #3EACA8;
  }
  
aside{
position: relative;
float:left;
width:205px;
padding-top:30px;
padding-left:15px;
top:0;
bottom:0;
background-color: #0e0c28;

}

nav{
display:block;
}


nav ul li a{
line-height:30px;
color:#b8bad4;
transition: ease all 1s;
font-weight: bold;
}

nav ul li{
line-height:30px;
color:#b8bad4;
text-align: center;
transition: ease all 1s;
margin-top: 10px;

}

nav ul li:hover{
color:white;
}

@media (max-width: 730px) {

aside{
float:left;
width:95%;
position:relative;
float:left;
padding-top: 10px;
padding-bottom:10px;
}
header{
float:left;
position:relative;
width:95%;
padding-left:5%;
}
nav{
display:none;
}
#nav-btn{
fill:white;
height:40px;
width:40px;
position:absolute;
right:7px;
top:7px;
display:block;
cursor: pointer;
}

.vertical-line {
margin-top: 20px;
margin-bottom: 20px;
display:none;
}
#products {
padding-top: 0;
}
article{
float:left;
width:90%;
margin-left: 5%;
margin-right: 5%;
padding-top:50px;
}
}
nav>ul{
color:white;
}
aside>h1{
font-size: 20px;
}
body{
background-color:#efeff6;
}

#left-menu{
float:left;
position: relative;

background-color: #212529;
width:200px;
height: 820px;
}
#nav-btn{
    fill:white;
    height:40px;
    position:absolute;
    right:10px;
    top:7px;
    display:none;
  }
  
aside{
position: relative;
float:left;
width:205px;
padding-top:30px;
padding-left:15px;
top:0;
bottom:0;
background-color: #0e0c28;

}

nav{
display:block;
}


nav ul li a{
line-height:30px;
color:#b8bad4;
transition: ease all 1s;
font-weight: bold;
}

nav ul li{
line-height:30px;
color:#b8bad4;
text-align: center;
transition: ease all 1s;
margin-top: 10px;

}

nav ul li:hover{
color:white;
}
nav ul li a:hover{
color:white;
}

#products{
padding-top:40px;
font-weight:bold;
color:#F7F7F7;
}

@media (max-width: 730px) {

aside{
float:left;
width:95%;
position:relative;
float:left;
padding-top: 10px;
padding-bottom:10px;
}
header{
float:left;
position:relative;
width:95%;
padding-left:5%;
}
nav{
display:none;
}
#nav-btn{
fill:white;
height:40px;
width:40px;
position:absolute;
right:7px;
top:7px;
display:block;
cursor: pointer;
}

.vertical-line {
margin-top: 20px;
margin-bottom: 20px;
display:none;
}
#products {
padding-top: 0;
}
article{
float:left;
width:90%;
margin-left: 5%;
margin-right: 5%;
padding-top:50px;
}
}
nav>ul{
color:white;
}
aside>h1{
font-size: 20px;
}
body{
background-color:#efeff6;
}

#left-menu{
float:left;z-index: 999;position: relative; transition:all 1s ease;
}

.weakFont{
    margin-top: 10px;
    font-size: 13px;
    color: grey;
    padding-left: 17%;
}

       
.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 14%;
    height: 32px;
    border-radius: 5px;
    font-size: 16px;
    float: right;
    margin-top: 10px;
    padding: 6px;
  }
  
  .option {
    
    min-height:40px;
    display:flex;
    align-items:center;
    background:white;
    border-top:#222 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition: all 2s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    
    
  }
  
  .option:hover {
    background:lightgrey;
  }
  
  .select:focus .option {
    position:relative;
    pointer-events:all;
  }
  #content{
    width: 80%;
    margin: 10px;
    height: 24px;
    font-size: 15px;
    
}
#content_name{
    width: 20%;
    margin: 10px;
    height: 24px;
    font-size: 15px;
    
}
.buttonSubmit{
    float: right;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 13%;

    height: 40px;
    cursor: pointer;
    transition: ease all 0.4s;
    margin: 5px;
    margin-right: 2%;
    background-color: #0091FF;
    color: white;
    font-size: 15px;
}
.buttonSubmit:hover{
    color: #212529;
}
.buttonCancel:hover{
    color: #212529;
}
.buttonCancel{
    float: right;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 13%;

    height: 40px;
    cursor: pointer;
    transition: ease all 0.4s;
    margin: 5px;
    margin-right: 2%;
    background-color: #FF6F6F;
    color: white;
    font-size: 15px;
}

.content_h2{
    color:#242849;display:inline-block; margin-left:30px;margin-bottom: 10px;
}
.content_divider{
    color:#242849;display:inline-block; width: 80%; margin-left:30px; height:0.5px; border:lightgrey solid 1px; background-color:lightgrey
}

.weatherChart{
    height: 100% !important;
    width: 100% !important;
    
}
#rtGraph_Big{
    display:inline-block;
    height: 100%;
    width: 100%;
}
#rtGraph_small{
    display:inline-block;
}
.card{
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width:40%;
    transition: 1.5s ease-out all;
    
}

.cardDashBoard{
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width:40%;
    
    margin: 40px;
    width: 80%;
    
}


.chartContainerDashBoard{
    display: grid;
    
}


.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    z-index: 50;
    top:50%;
    left: 50%;
    margin: 60px auto;
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(82,0,115, 0.2);
    border-right: 1.1em solid rgba(82,0,115, 0.2);
    border-bottom: 1.1em solid rgba(82,0,115, 0.2);
    border-left: 1.1em solid #520073;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


#voteContainer {
    top: 35%;
    left: -30%;
    padding: 10px;
    width: 40%;
    box-shadow: 0px 2px 7px lightgrey;
    border-radius: 30px;
    background-color: #474747;
    position: absolute;
    color: white;   
    transition: 1s ease all;
}
#votingContainer{
    top: 45%;
    left: -30%;
    padding: 10px;
    width: 40%;
    box-shadow: 0px 2px 7px lightgrey;
    border-radius: 30px;
    background-color: #474747;
    position: absolute;
    color: white;   
    transition: 1s ease all;

}
.displayNone{
    display:none;
}
.displayInlineBlock{
    display:inline-block;
}

#votingTitle{
    background-color: #efeff6;
    color: black;
    border-radius: 5px;
    height: 20px;
    padding: 9px;
    font-size: 16px;
    width: 70%;
    font-weight: bold;
    float: left;
    text-align: center;
}

#votingAgree{
    background-color: #efeff6;
    color: black;
    border-radius: 5px;
    height: 20px;
    padding: 9px;
    font-size: 16px;
    width: 33%;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-top: 10px;
}
#votingDisagree{
    background-color: #efeff6;
    color: black;
    border-radius: 5px;
    height: 20px;
    padding: 9px;
    font-size: 16px;
    width: 33%;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin-left: 1%;
}
#votingAuthor{
    background-color: #efeff6;
    color: black;
    border-radius: 5px;
    height: 20px;
    padding: 9px;
    font-size: 16px;
    width: 23%;
    font-weight: bold;
    text-align: center;
    float: right;
    margin-top: 10px;
}
#votingEndTime{
    background-color: #efeff6;
    color: black;
    border-radius: 5px;
    height: 20px;
    padding: 9px;
    font-size: 16px;
    width: 23%;
    font-weight: bold;
    text-align: center;
    float: right;
}

